/nbproject/private/
project.xml
project.properties
.DS_Store
Thumbs.db
.buildpath
.project
.settings*
sftp-config.json

# Ignore all log files except for .htaccess
/logs/*
!/logs/.htaccess
*.mo
assets/css/woocommerce-base.less
assets/css/woocommerce.css
assets/css/woocommerce-base.less
assets/css/woocommerce.css
